.home-bg {
  background-image: url("../../assets/images/home-bg.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main-text {
  text-shadow: 0 0 3px #cceefc;
}

.some-round-shape {
  @apply w-36 h-36;
  border-radius: 50%;
}

.blogImage {
  width: 480px;
  height: 270px;
}

.codeGif {
  width: 480px;
  height: 270px;
}

.section-font {
  font-family: "Lora", serif;
  font-size: x-large;
}

.section-font-heading {
  font-family: "Lora", serif;
  font-size: 400%;
  font-weight: 900;
}

.section-font-heading-p {
  font-family: "Lora", serif;
  font-size: 200%;
}

hr {
  border: 1px solid rgba(134, 130, 130, 0.377);
}

/* .about-us-bg{
  background-image: url("../../assets/images/about-us-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
